<configuration> 
  <system.webServer> 
    <rewrite> 
      <rules> 
        <rule name="Rewrite for All pages" stopProcessing="true"> 
          <match url="(index|resume|contact)" /> 
          <action type="Rewrite" url="{R:1}.html" /> 
        </rule> 
      </rules> 
    </rewrite> 
  </system.webServer> 
</configuration>