<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="Angular 6 tutorial. Build a weather app from scratch with Angular 6 and Angular CLI.">
    <meta name="author" content="Anthony O'Connor">
    <title>Angular 6 web app from scratch</title>
    <link rel="stylesheet" href="/css/tutorial-styles.css">
</head>

<body>
    <header>
        <div class="content">
            <div class="date">2018-06-04</div>
            <h1>Build a weather app with Angular 6</h1>
            <h2>Because we all know the world needs more weather apps.</h2>
        </div>
    </header>

    <section class="intro">
        <div class="content">
            <p>
                In this tutorial I'm going to walk through the process of creating a web app from scratch using Angular
                6. This will show
                everything you need to build a fully functioning, although slightly useless, web application. You can
                see
                the finished application running
                <a href="https://www.anthonyoconnor.ca/weather" target="_blank">here</a>. To keep things simple there
                will be no server code required to run the application. It can be deployed
                as a completely static website. All the code can be downloaded from
                <a href="https://github.com/anthonyoconnor/weather" target="_blank">github</a>.
            </p>
            <p>To make it easy to follow I'll include links to the specific checkin in GitHub for each change. This
                makes it
                easy to see the exact changes at each step.</p>
        </div>
    </section>
    <section class="intro">
        <div class="content">
            <p>
                In this tutorial I'm going to walk through the process of creating a web app from scratch using Angular
                6. This will show
                everything you need to build a fully functioning, although slightly useless, web application. You can
                see
                the finished application running
                <a href="https://www.anthonyoconnor.ca/weather" target="_blank">here</a>. To keep things simple there
                will be no server code required to run the application. It can be deployed
                as a completely static website. All the code can be downloaded from
                <a href="https://github.com/anthonyoconnor/weather" target="_blank">github</a>.
            </p>
            <p>To make it easy to follow I'll include links to the specific checkin in GitHub for each change. This
                makes it
                easy to see the exact changes at each step.</p>
        </div>
    </section>

    <section class="intro">
        <div class="content">
            <p>
                In this tutorial I'm going to walk through the process of creating a web app from scratch using Angular
                6. This will show
                everything you need to build a fully functioning, although slightly useless, web application. You can
                see
                the finished application running
                <a href="https://www.anthonyoconnor.ca/weather" target="_blank">here</a>. To keep things simple there
                will be no server code required to run the application. It can be deployed
                as a completely static website. All the code can be downloaded from
                <a href="https://github.com/anthonyoconnor/weather" target="_blank">github</a>.
            </p>
            <p>To make it easy to follow I'll include links to the specific checkin in GitHub for each change. This
                makes it
                easy to see the exact changes at each step.</p>
        </div>
    </section>
    <section class="prerequisites">
        <div class="content">
            <h2>Prerequisites</h2>
            <p>Before getting started there are few things you need to install and setup. If you already have setup
                Angular
                CLI you can
                <a href="#create-project">skip this step</a>.</p>
            <p>You will need to install
                <a href="https://nodejs.org/en/download/" target="_top">nodejs</a>. Download the LTS version. You need
                Node.js version 8.9 or higher and npm version 5.5 or higher.
                If you already have node installed you can verify your versions using 'node -v' and' npm -v' from the
                command
                line.
            </p>
            <p>Next you need to install
                <a href="https://github.com/angular/angular-cli" target="_blank">Angular CLI</a> globally using npm.</p>

            <p>
                <code class="command-line">npm install -g @angular/cli@6.0.7</code>
            </p>
            <p>Finally you need a text editor. You can use any editor you are comfortable with. Personally I use
                <a href="https://code.visualstudio.com/">VS Code</a>.
            </p>
            <p>Once everything is installed you are ready to get started and create a new project.</p>
        </div>
    </section>

    <section id="create-project" class="dark">
        <div class="content">
            <h2>Create the project</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/f67870df686233cababd23dc70d86f995fc20bb7"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Angular CLI provides an easy way to create new Angular project. This is a really easy way to get a
                project up
                and running quickly. Open a command line window and run the following command to create the project.</p>
            <p>
                <code class="command-line">ng new weather --skip-tests --routing --style less</code>
            </p>
            <ul>
                <li>
                    <em>ng new weather</em> tells Angular CLI to create a new project with the name weather.</li>
                <li>
                    <em>--skip-tests</em> prevents Angular CLI from creating all the unit test files. We won't need
                    those for
                    this project.
                </li>
                <li>
                    <em>--routing</em> tells Angular CLI to create the files we need to have routing in our project.
                    More on
                    this later.
                </li>
                <li>
                    <em>--style less</em> tells Angular CLI that we want to use
                    <a href="http://lesscss.org/" target="_blank">LESS</a> instead of plane CSS</li>
            </ul>
            <p>Running this will also pull down all the dependencies automatically with npm. Once complete you will have
                a full
                Angular project that you can run. From the command line run the following command.</p>
            <p>
                <code class="command-line">ng serve --open</code>
            </p>
            <p>Your browser should open
                <a href="http://localhost:4200/" target="_blank">http://localhost:4200/</a> and you should see this.
                <img src="/images/tutorial/1.png" alt="Initial default Angular project running in chrome browser">
            </p>
        </div>
    </section>


    <section class="light">
        <div class="content">
            <h2>Make some changes</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/afdc3abb6a8a5d9f658b035b7ab90536c5c179ba"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>With the code open in your editor and
                <em>ng serve</em> running you can make changes in a file and see them reflected straight away in your
                browser
                once you save. Let's try that now.</p>
            <p>Open <em>app.component.html</em> file and delete everything there. Replace it with this.</p>

            <pre>
                <code>
    &lt;div&gt;&#123;&#123;city&#125;&#125;&lt;/div&gt;
    &lt;div&gt;&#123;&#123;weather&#125;&#125;&lt;/div&gt;
    &lt;div&gt;&#123;&#123;temp&#125;&#125;&lt;/div&gt;
    &lt;router-outlet&gt;&lt;/router-outlet&gt;
                </code>    
            </pre>

            <p>Open
                <em>app.component.ts</em> file and replace the <em>AppComponent</em> class with this.</p>

            <pre>
                <code>
    export class AppComponent {
        city = 'Vancouver';
        weather = 'Sunny';
        temp = 23.0;
    }
                </code>
            </pre>

            <p>In your browser you should now see this.
                <img src="/images/tutorial/2.png" alt="Basic Angular binding in action.">
            </p>
        </div>
    </section>


    <section class="dark">
        <div class="content">
            <h3>What's going on?</h3>
            <p>This shows a very simple example of Angulars
                <a href="https://angular.io/guide/template-syntax#interpolation----">interpolation binding syntax</a>.
                The double curly braces in the html file, for example
                <em>&#123;&#123;city&#125;&#125;</em>, will take whatever value is stored in the AppComponents city
                property and display it in the
                html file. Change the city property in <em>AppComponent</em> and save the file. This new value will now
                show in your
                browser.
            </p>
        </div>
    </section>




    <section class="light">
        <div class="content">
            <h2>Let's check the weather</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/60ab559b24aa795fb062d7f4d89f3a3a0cb06e7d"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>You can look outside to see the weather but that's not much use to the fancy web application you are
                building.
                Your application is going to need an API to check the weather. Luckily for us there are plenty to
                <a href="https://www.google.ca/search?q=weather+api" target="_blank">choose</a> from. I picked
                <a href="https://www.openweathermap.org/api" target="_blank">Open Weather Map API</a> because it shows
                up first in Googles results.</p>
            <p>It has APIs for current weather, 5 day forecast and lots more. We are going to keep things simple and
                just use
                the current weather API. You will need to get an API key to be able to call the API. It's free so
                <a href="https://www.openweathermap.org/appid" target="_blank">get one now</a>.</p>
            <p>To help keep our components simple it is generally a good idea to abstract any API interactions into a
                service
                class. This class can then be used by the component classes.</p>
            <h3>Generate a service</h3>
            <p>We can use Angular CLI here to save us some typing. Run the following command to generate the service
                class.</p>
            <p>
                <code class="command-line">ng generate service weather</code>
            </p>
            <p>This creates a
                <em>WeatherService</em>. We will put all of the API calls in this class.</p>
            <p>To make the API call we have to add some dependencies. We will use Angulars HttpClient module to make the
                http
                calls. This needs to be added to the
                <em>app.module.ts</em>
            </p>
            <code></code>

            <pre>
                    <code>
        import { HttpClientModule } from '@angular/common/http';
        ...
        imports: [
            BrowserModule,
            AppRoutingModule,
            HttpClientModule
        ]
                    </code> 
                </pre>

            <p>Now that we have that added we can use the HttpClient module in the
                <em>WeatherService</em> class. We are going to call the API and extract the data points we need in our
                app. The
                API returns a lot of information but we only need some of it.
                <a href="http://samples.openweathermap.org/data/2.5/weather?q=London,uk&appid=b6907d289e10d714a6e88b30761fae22"
                    target="_blank">Call</a> the API and see what comes back or just look at the
                <a href="https://openweathermap.org/current" target="_blank">documentation</a>.</p>
        </div>
    </section>

    <section class="dark">
        <div class="content">
            <h2>A note about API keys</h2>
            <p>The weather API uses an API key to authenticate each call. You must have a valid key to be able to call
                the API.
                Don't use my key.
                <a href="https://home.openweathermap.org/users/sign_up" target="_blank">It's easy to get your own</a>.
                These keys are rate limited so if there are too many requests made with the
                same key they will start failing.</p>
            <p> If you were making a proper application and wanted to use this API you would normally make the API call
                to the
                weather API from your own server. That way you don't need to expose the API key on the client side.
                However
                since this is just a tutorial and this is a free key it doesn't really matter too much.</p>
        </div>
    </section>



    <section class="light">
        <div class="content">
            <h2>Making the call</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/60ab559b24aa795fb062d7f4d89f3a3a0cb06e7d"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>The HttpClient get method returns an observable. There is
                <a href="https://angular.io/guide/observables" target="_blank">lots of good information</a> on
                observables already so I won't go over that here. We are going to turn the
                response of the API call into an object that we can use in directly in our component. This shows the
                parts
                of the response that we will use.</p>

            <pre>
        <code>
    {
        "weather": [
            {
                "description": "clear sky"
            }
        ],
        "main": {
            "temp": 18.58
        }
    }
        </code>
    </pre>

            <p>In the
                <em>WeatherService</em> we use the
                <a href="https://www.learnrxjs.io/operators/transformation/map.html" target="_blank">RxJS map</a>
                function to extract only the pieces of the response object we want and turn them into a new
                object. Later on we'll add a concrete class for this but for now we don't need a specific type.</p>

            <pre>
        <code>
    return this.httpClient.get&lt;any&gt;(apiCall).pipe(
        map(resp => {
            const weather = resp.weather[0];
            const temp = resp.main.temp;
            const x = { weather, temp };
            return x;
        }));
        </code>
    </pre>
            <p>Then in
                <em>app.component.ts</em> we can use the new object returned by the
                <em>WeatherService</em>. We subscribe to the response of the API call. When the API call succeeds it
                will update
                the weather and temp properties with the values returned from the API.</p>

            <pre>
        <code>
    ngOnInit() {
        this.weatherService.getCurrentWeather(this.city).subscribe(x => {
            this.weather = x.weather.description;
            this.temp = x.temp;
        });
    }
        </code>
    </pre>

            <p>Try running this now and you should see something like this.
                <img src="/images/tutorial/3.png" alt="Component showing API results">
            </p>
            <p>So far so good. Although if anything goes wrong with the API call we are in trouble. Update the city name
                in
                <em>app.component.ts</em> with an invalid city name.
                <img src="/images/tutorial/4.png" alt="Component showing failed API results with console error">
            </p>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/5e172f97fdd4ca2f123c6eb31f038bf005adb523"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>To better handle this we can add an error handler to the subscription. Then whenever the API returns a
                failure
                we can deal with the error. All non 200 http status responses will throw an error and need to be
                handled.
                To keep it simple we will just log the error to the console and show a message to the user. You should
                now
                see this in your browser.
                <img src="/images/tutorial/5.png" alt="Component showing failed API results being handled correctly">
            </p>
        </div>
    </section>

    <section>
        <div class="content notification">
            <p>If you like this tutorial and would like to be notified when I post more tutorials please sign up here.
            </p>
            <p>Or just send an email to anthonyoconnor@gmail.com.</p>
            <form name="contact" method="POST" action="/notification-success" netlify-honeypot="name" netlify>
                <p style="display: none">
                    <label>Don’t fill this out if you're human: <input name="name" /></label>
                </p>
                <div class="inputs">
                    <label>Name: <input type="text" required maxlength="50" name="fullname" /></label>
                    <label>Your Email: <input type="email" required name="email" /></label>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>



    <section class="dark">
        <div class="content">
            <h2>Time for some refactoring</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/365fc7f54c2d0accfb866e23b24b56a63db6746f"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Ok so we've proved the API calls work correctly. We can extract the data we need and display it to the
                user.
                If anything goes wrong the user sees a nice error.</p>
            <p>Putting the code directly in
                <em>app.component.ts</em> is fine to start with. However it doesn't make it easy to add other pages to
                the app
                later. We can tidy things up a bit and make it easier for adding new pages later. Angular uses
                <a href="https://angular.io/api/core/Component" target="_blank">Components</a> as the basic building
                blocks of an application. You can, initially at least, think of every
                component as being a page in your application.</p>
            <p>Create a city component using Angular CLI and move all the logic from
                <em>app.component.ts</em> into it. Run the following command.
            </p>
            <p>
                <code>
                    ng generate component city
                    </code>
            </p>
            <p>This adds a new folder called city along with the city component files -
                <em>city.component.ts</em>,
                <em>city.component.less</em>
                and
                <em>city.component.html</em>. Copy all the code from
                <em>AppComponent</em> into
                <em>CityComponent</em> and likewise from
                <em>app.component.html</em>
                into
                <em>city.component.html</em>.
                <em>City.component.html</em> won't need the
                <em> router-outlet</em> tag. What this tag is used for will be explained in the next section.</p>
            <p>To display the new city component update
                <em>app.component.html</em> like this.
            </p>

            <pre>
                    <code>
        &lt;router-outlet&gt;&lt;/router-outlet&gt;
        &lt;app-city&gt;&lt;/app-city&gt;
                    </code>
                </pre>

            <p> Finally you need to add the
                <em>CityComponent</em> to the
                <em>app.module.ts</em> file under declarations. Run the application again using
                <em>ng serve</em>. Everything should look the same as before.
            </p>
        </div>
    </section>


    <section class="light">
        <div class="content">
            <h2>Where to now?</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/375b20fc25fd9f21db54c1a121ca408604a096e2"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Angular supports having
                <a href="https://angular.io/guide/router" target="_blank">routes</a> to your components. Routes are just
                urls that Angular maps to a particular component. Routes also
                allow us to pass parameters to a component. In our case we are going to map the route
                <a href="http://localhost:4200/city/Vancouver" target="_blank">http://localhost:4200/city/Vancouver</a>
                to the
                <em>CityComponent</em> and get it to load weather for the city specified, in this case Vancouver.</p>
            <p>This is why we included the
                <em>--routing</em> parameter when initially creating the project. This created a file called
                <em>app-routing.module.ts</em>. Open this file now and update the routes as follows.</p>

            <pre>
        <code>
    const routes: Routes = [
      { path: 'city/:city', component: CityComponent }
    ];                 
        </code>
    </pre>

            <p>This creates a route called city that will load the <em>CityComponent</em>. This particular route is
                special in that it
                also has a parameter specified by
                <em>:city</em>. We will be able to load this parameter in the
                <em>CityComponent</em> and call the weather API with the appropriate city name. </p>
            <p>Remember we put app-city into the
                <em>app.component.ts</em> file. Take this out now. From now on the
                <em>&lt;router-outlet&gt;&lt;/router-outlet&gt;</em> will show whatever component is needed for the
                current route.
                Run ng serve again and go to
                <a href="http://localhost:4200/city/vancouver" target="_blank">http://localhost:4200/city/vancouver</a>
                . This will now load the <em>CityComponent</em>.
            </p>
        </div>
    </section>

    <section class="dark">
        <div class="content">
            <h2>Make use of the route parameter</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/1bda146b137c2f9875a043236822696a379b4af9"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>When a route includes a parameter link such as in the
                <em>'city/:city'</em> route we can load this parameter in the component. One place to do this is in the
                <a href="https://angular.io/guide/lifecycle-hooks" target="_blank">ngOnInit</a> method. First we include
                the ActivatedRoute class in the
                <em>CityComponent</em> constructor. In ngOnInit the parameter can be read as follows.</p>
            <p>
                <code>this.city = this.route.snapshot.params['city'];</code>
            </p>
            <p>This is great, now you load a different city by typing the city name in the url. For example
                <a href="http://localhost:4200/city/vancouver" target="_blank">http://localhost:4200/city/vancouver</a>
                or
                <a href="http://localhost:4200/city/new%20york" target="_blank">
                    http://localhost:4200/city/new%20york</a>. To help with testing add these urls to
                <em>app.component.ts</em> under
                <em>&lt;router-outlet&gt;&lt;/router-outlet&gt;</em>
            </p>

            <pre>
        <code>
    &lt;a routerLink=&quot;/city/vancouver&quot;&gt;Vancouver&lt;/a&gt;
    &lt;a routerLink=&quot;/city/limerick&quot;&gt;Limerick&lt;/a&gt;
        </code>
    </pre>

            <p>What's a
                <a href="https://angular.io/api/router/RouterLink" target="_blank">router link?</a> It's just Angulars
                way of linking to specific routes within the application.
            </p>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/d2e93bfa314d29b5ac449d487a71e53d5dc0a712"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>So now click on one of the links. Strange. It does not change the city shown in the component. Why is
                that? Well
                <em>ngOnInit</em> only runs once when the component is loaded. Since going to the
                <em>/city</em> route would just load the
                <em>CityComponent</em> again and its already loaded
                <em>ngOnInit</em> does not get called again. Instead we can subscribe to changes on the ActivatedRoute.
            </p>

            <pre>
        <code>
    this.route.paramMap.subscribe(route => {
        this.city = route.get('city');
        //Do something with the city value;
    }
        </code>
    </pre>

            <p>Now clicking on links changes the city as expected. </p>
        </div>
    </section>



    <section class="light">
        <div class="content">
            <h2>My poor API key</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/fa4eee3f1f52910edbcf7e066437fb53a8639a52"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Depending on the API you are using it may not be feasible, or a good idea, to be hitting the API
                constantly during
                development. You might have to pay per API call. Or more likely the API is being developed by another
                person
                and it's not ready to use yet. So what can we do?</p>
            <p>We can mock out the API calls and give canned responses to the UI. This will help us work on our UI
                without worrying
                about the API being available.</p>
            <p class="note">Note: this isn't a replacement for unit tests. It's just an easy way to check that your UI
                looks the way you
                think it will based on responses from an API. There are also some other benefits such as mimicking
                delays
                we will see later.
            </p>
            <p>Create a new class called
                <em>DevelopmentWeatherService</em> in the same file as the existing
                <em>WeatherService</em> class. Add the same methods that exist in
                <em>WeatherService</em>, in this case
                <em>getCurrentWeather(city: string)
                </em>.
            </p>
            <p>We could create an interface here to ensure they both have the same methods but really it's not worth the
                bother
                here.
            </p>
            <p>
                <em>getCurrentWeather</em> in
                <em>DevelopmentWeatherService</em> needs to return the same data as the real
                <em>WeatherService</em>.</p>

            <pre>
                    <code>
        @Injectable()
        export class DevelopmentWeatherService {
            getCurrentWeather(city: string): Observable<any> {
                const weather = { description: 'Rain' };
                const temp = 12.2;
                const x = { weather, temp };
                // of(x).pipe(delay(2000))
                // allows you to mimic delays
                // that can happen when you 
                // call the real api.
                return of(x).pipe(delay(2000));
        
                // throwError can mimic errors 
                // from the API call.
                // return throwError('Fail');
            }
        }            
                    </code>
                </pre>

            <p>As well as just returning mock data we can also mimic delays just like if the real API was being called.
                We can
                also mimic failures. This makes it really easy to see what the UI will look like in these cases. </p>
            <p>Now that it exists, how does this get instantiated at runtime?</p>
            <p>I like to create a config service that has a flag to specify whether to use the real API or the fake one.
                This
                config class is also useful for storing other things like API keys or other settings. Create a new
                service
                using Angular CLI just like before.</p>
            <p>
                <code>ng generate service config</code>
            </p>
            <p>Open the config.service.ts file and add a public property called inMemoryApi.</p>
            <p>
                <code>public inMemoryApi = true;</code>
            </p>
            <p>At runtime we can use this flag to decide which version of the
                <em>WeatherService</em> to instantiate. This requires a few steps. Add this code to the end of the
                weather.service.ts
                file
            </p>

            <pre>
            <code>
        export function weatherServiceFactory(httpClient: HttpClient, configService: ConfigService) {
            let service: any;
            
            if (configService.inMemoryApi) {
                service = new DevelopmentWeatherService();
            } else {
                service = new WeatherService(httpClient);
            }
            return service;
        }
            
        export let weatherServiceProvider = {
            provide: WeatherService,
            useFactory: weatherServiceFactory,
            deps: [HttpClient, ConfigService]
        };        
            </code>
        </pre>

            <p>There are a few things going on here. Angular uses
                <a href="https://angular.io/guide/dependency-injection" target="_blank">dependency injection</a> which
                means when you specify a service in the constructor of a component Angular
                creates the instance for you and passes it in. Normally this is one to one. Up to now when we specify
                the
                <em>WeatherService</em> as a dependency in the WeatherComponent constructor Angular creates an instance
                of the
                <em>WeatherService</em> and passes it in when the WeatherComponent is created. We can override this
                default behaviour
                with a provider.</p>
            <p>The weatherServiceProvider basically says when Angular provides a
                <em>WeatherService</em> use the
                <em>weatherServiceFactory</em> to create it. This is good for us since we can now use our config service
                in the
                <em>weatherServiceFactory</em> function and decide which service we want to instantiate.
            </p>
            <p>Finally we need to include the service provider in the
                <em>app.module.ts</em> file under providers.
            </p>
            <p>
                <code>providers: [weatherServiceProvider]</code>
            </p>
            <p>Set the inMemoryApi flag to true and run ng serve. Now when the city component it loaded it will show
                whatever
                data you have in the
                <em>DevelopmentWeatherService</em>. Modify the
                <em>DevelopmentWeatherService</em> to throw an error and see what happens.
            </p>
        </div>
    </section>

    <section class="dark">
        <div class="content">
            <h2>Tidy it up a bit</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/e3638e3a18bb9427366579a6fd6d0c7cdf7255f2"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Let's make it a bit better to look at. There are two main types of styling we can apply. Global styles
                and
                <a href="https://angular.io/guide/component-styles" target="_blank">component specific styles</a>.
                Global styles can be added in
                <em>styles.less</em>. Component specific styles can be added in the less file that was created when we
                created
                the component; city.component.less in our case.</p>
            <p>Anything specified in the component less will only affect the component itself. The styles will not leak
                out
                and affect other components.</p>
            <p>Pretty it up whatever way you want. This is what my version currently looks like.
                <img src="/images/tutorial/7.png" alt="Basic styling of city component.">
            </p>
        </div>
    </section>


    <section class="light">
        <div class="content">
            <h2>Add some new cities</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/191e5f41746c6e9823ca83e837055f45a2a77db3"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Being able to enter the cities in the url is fine but we can make it easier for the user. Let's give the
                user
                a way to enter cities and later on we will store them so the user doesn't need to enter them every time
                they
                run the app.
            </p>
            <p>Add a new component called
                <em>AddCity</em>.</p>
            <p>
                <code>ng generate component addCity</code>
            </p>
            <p>Same as before this will generate
                <em>add-city.component.ts</em> and its associated files. We add a route called add-city and specify to
                load this
                new component. In
                <em>app-routing.module.ts</em> add the new route.</p>
            <p>
                <code>{ path: 'add-city', component: AddCityComponent }</code>
            </p>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/b975e68801ac720e8822fdc291001d5971eaccee"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>To get input from the user add an input box to the <em>add-city.component.html</em> file.</p>

            <pre>  <code>
        &lt;input type=&quot;text&quot; placeholder=&quot;Vancouver&quot; [(ngModel)]=&quot;newCity&quot;&gt; 
        &lt;div&gt;&#123;&#123;newCity&#125;&#125;&lt;/div&gt;  &lt;!-- This will show it works --&gt; 
                    </code>
                </pre>

            <p>
                <a href="https://angular.io/api/forms/NgModel" target="_blank">[(NgModel)]</a> binds the specified value
                in the html file to a property in the
                <em>add-city.component.ts</em> file. Therefore we need to add a public newCity property to the
                <em>AddCity</em> component. Go ahead and run it with ng serve. You will see the following error.</p>
            <p>
                <code>Can't bind to 'ngModel' since it is't a known property of 'input'. (&quot;&lt;input type=&quot;text&quot; placeholder=&quot;Vancouver&quot; [ERROR -&gt;][(ngModel)]=&quot;newCity&quot;&gt; </code>
            </p>
            <p>To be able to use NgModel you must first import the FormsModule in
                <em>app.module.ts</em> as follows.</p>
            <pre>
            <code>
        import { FormsModule } from '@angular/forms'; 
        imports: [
            FormsModule // Add this
        ],
            </code>
        </pre>
            <p>Now try running it again with ng serve, go to
                <a href="http://localhost:4200/add-city" target="_blank">http://localhost:4200/add-city</a> and you
                should be able to type something in the input box and see the
                value shown under the input box.
                <img src="/images/tutorial/8.png" alt="Basic form binding.">
            </p>
            <p>Ok, an input box on its own isn't much use. Add a button and we will use it to call the API and check if
                the
                city exists. We can reuse the existing API. If we call it and it succeeds then the city exists,
                otherwise
                the city couldn't be found. In the <em>add-city.component.html</em> file add the button and a click
                event.</p>
            <p>
                <code>&lt;button (click)=&quot;addCity()&quot;&gt;Add&lt;/button&gt;</code>
            </p>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/b08e6b44aaef803fa60c3f6fe869eea47b9144bb"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Add a failed flag to the
                <em>add-city.component.ts</em> file and this can be used in the html file to show if a city cannot be
                found.</p>
            <p>
                <code>&lt;div *ngIf=&quot;failed&quot;&gt;Could not add the city.&lt;/div&gt; </code>
            </p>
            <p>Add this method to the
                <em>add-city.component.ts</em> and call the weather service as before.</p>
            <img src="/images/tutorial/9.png" alt="Failing to find a city.">
        </div>
    </section>
    <section class="dark">
        <div class="content">
            <h2>What could go wrong?</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/25fc4d86b3d1416909f15cd1d76478eecf7a5d78"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>This works but there are some issues. Generally calling an API will take some time. The user could click
                the
                button multiple times if there is no feedback that the search is ongoing. Let's use our development
                service
                to help out and demonstrate this happening. Add a delay of 5 seconds to the API call in
                <em>DevelopmentWeatherService</em>.</p>
            <p>
                <code>return of(x).pipe(delay(5000));</code>
            </p>
            <p>Add a searching property to the add-city component. We will set this to true when the addCity method is
                called.
                Then set to it back to false when the search completes, either due to success or failure. To make use of
                this flag add the following to both the input control and the button control.</p>
            <p>
                <code>[disabled]="searching"</code>
            </p>
            <p>This will prevent the user from clicking the button or changing the input once the search begins. In a
                real production
                application you would likely add some sort of loading icon to indicate a search is ongoing.
                <img src="/images/tutorial/10.png" alt="Disabled inputs while searching.">
            </p>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/1a93f988ab7fdd0baccd742c165169f416626244"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>If we find a city that exists then we can just direct to that city to indicate success. To do that we
                need to
                reference the router and redirect </p>
            <p>
                <code>this.router.navigate(['/city/' + city]);</code>
            </p>
        </div>
    </section>
    <section class="light">
        <div class="content">
            <h2>I want lots of cities</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/8a3656100242e85cd622f21c1ca306a883cc8c9d"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Right now you can enter a city name and see it, then go back and enter another city. But I don't want to
                have
                to enter cities all the time. It should save the cities I enter. Let's create a new service to do this.
            </p>
            <p>
                <code>ng generate service cityStorage</code>
            </p>
            <p>First off just store an array of cities in this service and add to it when the user searches for city.
                This works
                fine while the website it running but if you close the site and open it again everything is gone. We
                need
                to store the information more permanently.</p>
            <p>We can use
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage" target="_blank">local
                    storage</a> to store bits of information in the browser. This can be accessed when the application
                runs to load anything stored there. Local storage can only store strings so we have to convert the array
                of cities to a string first. We can convert the array to a JSON string and save that to local storage.
            </p>
            <p>
                <code>
                        localStorage.setItem("cities", JSON.stringify(this.cities));
                    </code>
            </p>
            <p> Likewise when we need to load it we load the string from local storge and parse the JSON back to an
                array.</p>
            <p>
                <code>
                        const existingCities = JSON.parse(localStorage.getItem("cities"));
                    </code>
            </p>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/8e430cb7aceab446943ad35bfb18e1c212458870"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>That takes care of the problem of saving and loading the cities. Now we need to update the application to
                look
                for this at startup. When the application loads with no url we will direct to a new component.</p>
            <p>
                <code>
                        ng generate component startup
                </code>
            </p>
            <p>Don't forget to update the routes in app.routing.module.ts to include the new component.</p>
            <p>
                <code>{ path: '', component: StartupComponent }</code>
            </p>
            <p>This component can now check the city storage service to see if there are any cities stored. If so direct
                to
                the first one in the list, otherwise just go to add-city.</p>

            <pre>
                    <code>
        export class StartupComponent {
            constructor(private cityStorage: CityStorageService, private router: Router) {
                if (this.cityStorage.cities.length === 0) {
                    this.router.navigate(['/add-city/']);
                } else {
                    const defaultCity = this.cityStorage.cities[0];
                    this.router.navigate(['/city/' + defaultCity]);
                }
            }
        }
            </code>
                    </pre>

        </div>
    </section>
    <section class="dark">
        <div class="content">
            <h2>From one city to the next</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/7e810e259f93aa98ebe9a3e82beeb94bbfd5fe75"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Ok, we are getting places. But once we have a city displayed we have no way to get to the next city
                without going
                an adding it again. We need a way to go to the next city and back. To keep things simple we just add a
                previous
                and next button to the UI. Rather than having the logic for this in the city component it will be better
                to keep this logic in the city storage service. It can figure out what the next and previous cities are.
            </p>
            <p>Since the cities are stored in an array we just need a simple lookup to find the next city in the array
                or the
                previous one. We always pass in the current city so the city storage service doesn't need to keep track
                of
                which city is current displayed.</p>
        </div>
    </section>
    <section class="light">
        <div class="content">
            <h2>I like pictures</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/52205d7c7bfbbb9535b4ba44a8c9151851679641"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>It's nice to be able to see a picture to fully describe the current weather instead of having to read
                words.
                So let's add some images to make this app really professional looking.</p>
            <p>The API can return a lot of weather codes but they are
                <a href="https://www.openweathermap.org/weather-conditions" target="_blank">nicely grouped together</a>
                so it is easy for us to map them to an image.</p>
            <p>I went ahead and drew some pictures for each group. Nice aren't they?</p>
            <div class="images">
                <img src="/images/tutorial/cloud.png" alt="Hand drawn picture of a Cloud">
                <img src="/images/tutorial/fog.png" alt="Hand drawn picture of fog">
                <img src="/images/tutorial/lightning.png" alt="Hand drawn picture of lightning">
                <img src="/images/tutorial/moon.png" alt="Hand drawn picture of a moon">
                <img src="/images/tutorial/partial-moon.png" alt="Hand drawn picture of a moon hidden behind a cloud">
                <img src="/images/tutorial/sun.png" alt="Hand drawn picture of a sun">
                <img src="/images/tutorial/partial-sun.png" alt="Hand drawn picture of a sun hidden behind a cloud">
                <img src="/images/tutorial/rain.png" alt="Hand drawn picture of a rain cloud">
                <img src="/images/tutorial/snow.png" alt="Hand drawn picture of a snow cloud">
                <img src="/images/tutorial/unknown.png"
                    alt="Hand drawn picture of a window. For when the weather is unknown">
            </div>
            <p>Before using this images I think a bit of refactoring is in order. Let's add a concrete class,
                WeatherModel to
                represent the weather data and an enum to store the Weather type. We can then use this enum to determine
                which image to display.
            </p>

            <pre>
            <code>
        export class WeatherModel {
            constructor(readonly type: WeatherType, 
                readonly description: string, readonly temperature: number) {
                }
            }
            </code>
        </pre>
            <p>Since the weather codes returned by the API are grouped together it is easy to assign our own enum based
                on the
                id as shown here.</p>

            <pre>
            <code>
        if (weatherId >= 200 && weatherId < 300) {
             return WeatherType.lightning;
        }
        if (weatherId >= 300 && weatherId < 600) {
            return WeatherType.rain;
        }
        // One for each group returned by the API.
            </code>
        </pre>

            <p>In city.component.ts we can use an Angular switch statement to decide which image to display. One little
                trick
                here is that you will not be able to use the
                <em>WeatherType</em> enum directly in the template unless you add a reference to it in the
                <em>CityComponent</em> first. This is because the template can only access properties that exist in the
                component
                class itself.
            </p>
            <p>
                <code>WeatherType = WeatherType</code> </p>
            <p> Once that is done the template can be updated like so.</p>
            <pre>
            <code>
        &lt;div [ngSwitch]=&quot;weather.type&quot;&gt;
            &lt;img *ngSwitchCase=&quot;WeatherType.cloud&quot; src=&quot;assets/cloud.png&quot; alt=&quot;cloud&quot;&gt;
            &lt;img *ngSwitchCase=&quot;WeatherType.fog&quot; src=&quot;assets/fog.png&quot; alt=&quot;fog&quot;&gt;
            ...
            </code>
        </pre>
            <p>See how we can directly use
                <em>WeatherType.cloud</em> in the template. The development weather service also comes in handy here
                since you
                can set the response appropriate weather type to ensure your pictures are displaying correctly.
            </p>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/7ccaf65506f2dee13ee93a33373b53d209f24c8a"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>One final piece here is that when the status of clear is returned it should show either a moon or the sun
                depending
                on when sunset occurs.</p>
        </div>
    </section>
    <section class="dark">
        <div class="content">
            <h2>My poor API key ... again!</h2>
            <p>
                <a href="https://github.com/anthonyoconnor/weather/commit/c92b4d8b7ef2d59e0b2579c667796a58b66e2c4b"
                    target="_blank">View changes in GitHub</a>
            </p>
            <p>Now that I can navigate back and forward between different cities to see their current weather the API
                gets hit
                every time a navigation occurs. In most places the weather doesn't change drastically minute to minute
                so
                it is probably a good idea to cache the API results rather than hitting the API every time. Now be aware
                that caching itself isn't necessarily hard. Generally it is determining when to invalidate that cache is
                the hard part. Since this is just a tutorial we are going to keep it super simple. We will cache in
                memory
                only. This means that if you refresh the app it will hit the API again. However while the app is running
                it will only every hit the API once per city. And yes, if you leave the app open and running for a day
                you
                will get yesterday's weather. I can live with that.</p>
            <p>Go ahead and open the WeatherService. The implement the cache just add an array of WeatherModels. Now
                whenever
                getCurrentWeather is called simply check if the data already exists. If not then call the API can add
                the
                response to the array.
            </p>

            <pre>
            <code>
        getCurrentWeather(city: string): Observable&lt;WeatherModel&gt; {
        const existing = this.weatherModels.find(w => w.city.toLocaleLowerCase() === city.toLocaleLowerCase());
        if (existing) {
            return of(existing);
        }
        
        ...
        return this.httpClient.get<any>(apiCall).pipe(
            map(resp => {
                ...
            const model = new WeatherModel(city, 
            getWeatherType(weather.id), weather.description, temp,
            new Date(sunrise), new Date(sunset));
        
            this.weatherModels.push(model);
        
            return model;
            }));
        }      
            </code>
        </pre>

    </section>
    <section class="light">
        <div class="content">
            <h2>What's left?</h2>
            <p>Obviously it is very close to perfection now. But I suppose we can tidy it up a few things. First add
                some
                <a href="https://github.com/anthonyoconnor/weather/commit/72577ed6eec7ecd0b5558cea1ca79805c47c43a1"
                    target="_blank">style</a>.
            </p>
            <p>Lastly we can use the
                <a href="https://angular.io/api/common/DecimalPipe" target="blank">decimal pipe</a> to format the
                temperature. This is just in case the API returns more decimal places than
                we care about.</p>
            <p>
                <code> &lt;div class=&quot;temp&quot;&gt;&#123;&#123;weather.tempature | number:&apos;1.1-1&apos;&#125;&#125;&amp;#8451;&lt;/div&gt;</code>
            </p>
            <p>It's done. Best app ever!</p>
            <p>Feel free to take it from here and add some more features. Here are a few suggestions.</p>
            <ul>
                <li>Store the weather data in local storage with a timestamp. Only call the API to get new data if it
                    hasn't
                    been updated in 2 hours.</li>
                <li>Use the
                    <a href="https://openweathermap.org/forecast5">5 day forecast API</a> and add the weather details
                    for the upcoming days.</li>
            </ul>
            <p>Hopefully you learned something along the way that will be useful to you.
                <a href="https://www.anthonyoconnor.ca/contact">Contact me</a> if you have any issues or questions.</p>
        </div>
    </section>

    <section>
        <div class="content notification">
            <p>If you liked this tutorial and would like to be notified when I post more tutorials please sign up here.
            </p>
            <p>Or just send an email to anthonyoconnor@gmail.com.</p>
            <form name="contact" method="POST" action="/notification-success" netlify-honeypot="name" netlify>
                <p style="display: none">
                    <label>Don’t fill this out if you're human: <input name="name" /></label>
                </p>
                <div class="inputs">
                    <label>Name: <input type="text" required maxlength="50" name="fullname" /></label>
                    <label>Your Email: <input type="email" required name="email" /></label>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>


    <footer>
        <div>By
            <a href="https://www.anthonyoconnor.ca" target="_blank">Anthony O'Connor</a>
        </div>
    </footer>
</body>

</html>