{{ partial "header.html" . }}

<main>
  {{ range (where .Data.Pages "Section" "!=" "") }}
  <section>
    <article>
      <div class="date">{{ .Date.Format "2006-01-02" }}</div>
      <h1>
        <a href="{{ .URL }}">{{ .Title | markdownify }}</a>
      </h1>
      {{ .Summary | markdownify  }}

      {{ if .Truncated }}
      <div>
        <a href="{{ .RelPermalink }}">Continue reading...</a>
      </div>
      {{ end }}
    </article>
  </section>
  {{ end }}

  <section class="notification">
      <p>If you would like to be notified when I post something just add your email here.</p>
      <form name="contact" method="POST" action="/notification-success" netlify-honeypot="name" netlify>
        <p style="display: none">
          <label>Don’t fill this out if you're human: <input name="name" /></label>
        </p>
        <p>
          <label>Your Email: <input type="email" name="email" /></label>
          <button type="submit">Submit</button>
        </p>
      </form>
    </section>
</main>